<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Proses Berhasil </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="text-align: center;">
        <ion-item>
            <ion-button fill="outline" fill="clear" expand="full" color="success" routerLink="/home">
                <ion-icon slot="start" name="home"></ion-icon>
                Kembali Ke-Beranda
            </ion-button>
        </ion-item>
    </div>
</ion-content>