<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            DETAIL - {{ param.lokasi_tempat }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-card>
        <ion-card-content>
            <ion-item>

            </ion-item>
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label>Type </ion-label>
                <p slot="end" style="text-align: right;" *ngFor="let item of unsafe">
                    <ion-input slot="end" *ngIf="item.UnsafeID == param.Klasifikasi" color="primary" placeholder="Unsafe" style="text-align: right;" readonly #input value="{{ item.UnsafeName }}"></ion-input>
                </p>
            </ion-item>
            <ion-item>
                <ion-label>Lokasi </ion-label>
                <ion-input color="primary" placeholder="Isi Lokasi" style="text-align: right;" readonly #input [(ngModel)]="param.spesifikasi"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label> Status </ion-label>
                <ion-text color="primary">

                    <h3 *ngIf="param.processApl==100" class="label label-info">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==110" class="label label-success">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==200" class="label label-primary">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==300" class="label label-primary">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==310" class="label label-danger">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==320" class="label label-dark">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==400" class="label label-primary">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==900" class="label label-warning">{{ param.processApl_desc }}</h3>
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label> Tanggal Pengamatan </ion-label>
                <ion-text color="primary">
                    <h3>
                        {{ param.DateObs|date }}
                    </h3>
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label> Pengamatan </ion-label>
                <ion-text color="primary">
                    <h3> {{ param.Pengamatan }} </h3>
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label> Lanjutan </ion-label>
                <ion-text color="primary">
                    <h3> {{ param.Lanjutan }} </h3>
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label> Nama </ion-label>
                <ion-text color="primary">
                    <h3> {{ param.NamaEmploye }} </h3>
                </ion-text>
            </ion-item>

            <ion-item>
                <ion-label> Nama Fungsi </ion-label>
                <ion-text color="primary">
                    <h3> {{ param.FungsiName }} </h3>
                </ion-text>
            </ion-item>

            <ion-item>
                <ion-label> PIC Email </ion-label>
                <ion-text color="primary">
                    <h3> {{ param.PICEmail }} </h3>
                </ion-text>
            </ion-item>

            <ion-item>
                <ion-label> Informasi PIC </ion-label>
                <ion-text color="primary">
                    <h3> {{ param.PICInformasi }} </h3>
                </ion-text>
            </ion-item>

        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-subtitle>
            <ion-item>
                <ion-button (click)="global.goto('/home')" slot="start" color="danger">
                    <ion-icon name="close-circle-outline"></ion-icon>
                    Cancel
                </ion-button>
                <ion-button (click)="global.gotoById('/hapus-obs',param.IDobservasion)" slot="end" color="danger" *ngIf="param.processApl==100">
                    <ion-icon name="trash"></ion-icon>
                    Hapus
                </ion-button>

                <ion-button (click)="global.gotoById('/edit-obs',param.IDobservasion)" slot="end" color="warning" *ngIf="param.processApl==100">
                    <ion-icon name="create"></ion-icon>
                    Edit
                </ion-button>
                <ion-button (click)="global.gotoById('/set-pic-obs',param.IDobservasion)" slot="end" color="primary" *ngIf="userData.OlahID == 1 && param.processApl!=100 && param.processApl<200">
                    <ion-icon name="paper-plane"></ion-icon>
                    Set PIC, Approve, & Reject
                </ion-button>
            </ion-item>
        </ion-card-subtitle>
    </ion-card>

</ion-content>