<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            HAPUS - {{ param.lokasi_tempat }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-card>
        <ion-card-title style="text-align: center;">
            <h3> Yakin Akan Menghapus Data Ini ? </h3>
        </ion-card-title>
    </ion-card>


    <ion-card>
        <ion-card-subtitle>
            <ion-item>
                <ion-button slot="end" (click)="global.goto('/home')" color="secondary">
                    <ion-icon name="close-circle-outline"></ion-icon>
                    TIDAK
                </ion-button>
                <ion-button slot="end" (click)="delObsById()" color="danger">
                    <ion-icon name="trash"></ion-icon>
                    YA, HAPUS
                </ion-button>
            </ion-item>
        </ion-card-subtitle>
    </ion-card>


    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label>Type </ion-label>
                <p slot="end" style="text-align: right;" *ngFor="let item of unsafe">
                    <ion-input slot="end" *ngIf="item.UnsafeID == param.Klasifikasi" color="primary" placeholder="Unsafe" style="text-align: right;" readonly #input value="{{ item.UnsafeName }}"></ion-input>
                </p>
            </ion-item>
            <ion-item>
                <ion-label>Lokasi </ion-label>
                <ion-input color="primary" placeholder="Isi Lokasi" style="text-align: right;" readonly #input [(ngModel)]="param.spesifikasi"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label> Status </ion-label>
                <ion-text color="primary">

                    <h3 *ngIf="param.processApl==100" class="label label-info">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==110" class="label label-success">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==200" class="label label-primary">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==300" class="label label-primary">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==310" class="label label-danger">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==320" class="label label-dark">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==400" class="label label-primary">{{ param.processApl_desc }}</h3>
                    <h3 *ngIf="param.processApl==900" class="label label-warning">{{ param.processApl_desc }}</h3>
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label> Tanggal Pengamatan </ion-label>
                <ion-text color="primary">
                    <h3>
                        {{ param.DateObs|date }}
                    </h3>
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label> Pengamatan </ion-label>
                <ion-text color="primary">
                    <h3> {{ param.Pengamatan }} </h3>
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label> Lanjutan </ion-label>
                <ion-text color="primary">
                    <h3> {{ param.Lanjutan }} </h3>
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label> Nama </ion-label>
                <ion-text color="primary">
                    <h3> {{ param.NamaEmploye }} </h3>
                </ion-text>
            </ion-item>



        </ion-card-content>
    </ion-card>



</ion-content>