<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>
            Observasi - {{ param.lokasi_tempat }}
        </ion-title>

    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card *ngIf="param.FilePhoto != '-,-,-'">
        <ion-slides pager="true">
            <ion-slide *ngFor="let img of slideimg">
                <img *ngIf="img != '-'" src="{{global.apiUrl}}TObservasi/download/{{img}}">
            </ion-slide>
        </ion-slides>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-label>Area</ion-label>

            <span *ngIf="opsi == '1'">
                <div *ngFor="let item of area">
                    <span *ngIf="item.KlasifikasiID == param.IDklasifikasi"> {{ item.KlasifikasiName }} </span>
            </div>
            </span>

        </ion-item>

        <ion-item>
            <ion-label>Subarea</ion-label>
            <span *ngIf="opsi == '1'">
                <div *ngFor="let item of subarea">
                    <span *ngIf="item.AreaID == param.AreaID"> {{ item.AreaName }} </span>
            </div>
            </span>
        </ion-item>
        <ion-item>
            <ion-label>Lokasi</ion-label>
            <ion-input *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Lokasi" #input [(ngModel)]="param.spesifikasi" required></ion-input>

        </ion-item>

        <ion-item>
            <ion-label>Tanggal Pengamatan</ion-label>
            <ion-datetime readonly displayFormat="MM DD YY" #input [(ngModel)]="param.DateObs" placeholder="Isi Tanggal Pengamatan"></ion-datetime>
        </ion-item>


        <ion-item>
            <ion-label>Pengamatan</ion-label>
            <ion-input *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Pengamatan" #input [(ngModel)]="param.Pengamatan"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Tindakan Langsung</ion-label>
            <ion-input *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Tindakan Langsung" #input [(ngModel)]="param.langsung"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Saran Perbaikan</ion-label>
            <ion-input *ngIf="opsi != '1'" color="primary" placeholder="Isi Saran Perbaikan" #input [(ngModel)]="param.Lanjutan"></ion-input>
            <ion-input *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Saran Perbaikan" #input [(ngModel)]="param.Lanjutan"></ion-input>
        </ion-item>

    </ion-card>
    <ion-card>
        <ion-list>

            <ion-radio-group *ngIf="opsi == '1'" #input [(ngModel)]="param.UnsafeID" (ngModelChange)="listUnsafeDetail($event)">
                <ion-list-header>
                    <ion-label>Kategori PEKA </ion-label>
                </ion-list-header>

                <ion-item *ngFor="let item of unsafe">
                    <ion-label> {{ item.UnsafeName }} </ion-label>
                    <ion-radio *ngIf="item.UnsafeID == param.UnsafeID" slot="start" color="primary" value="{{ item.UnsafeID }}"></ion-radio>
                </ion-item>
            </ion-radio-group>
            <ion-radio-group *ngIf="opsi != '1'" #input [(ngModel)]="param.UnsafeID" (ngModelChange)="listUnsafeDetail($event)">
                <ion-list-header>
                    <ion-label>Kategori PEKA </ion-label>
                </ion-list-header>

                <ion-item *ngFor="let item of unsafe">
                    <ion-label> {{ item.UnsafeName }} </ion-label>
                    <ion-radio slot="start" color="primary" value="{{ item.UnsafeID }}"></ion-radio>
                </ion-item>
            </ion-radio-group>

        </ion-list>


        <ion-list>
            <ion-grid>

                <ion-row *ngFor="let item of unsafedetail | keyvalue;let i=index">
                    <ion-col>

                        <div>
                            <ion-header> {{ item.key }} </ion-header>
                        </div>
                        <div *ngIf="param.UnsafeID != '1018'">
                            <ion-item *ngFor="let item2 of item.value;let j=index;">
                                <ion-label> {{ item2.UnsDetName }} </ion-label>

                                <ion-checkbox *ngIf="opsi == '1'" disabled="true" color="primary" disabled="true" [(ngModel)]="unsafeDetailC[item2.UnsDetail]" color="primary" value="{{ item2.UnsDetail }}"></ion-checkbox>

                                <ion-checkbox *ngIf="opsi != '1'" [(ngModel)]="unsafeDetailC[item2.UnsDetail]" color="primary" value="{{ item2.UnsDetail }}"></ion-checkbox>

                            </ion-item>
                        </div>

                        <div *ngIf="param.UnsafeID == '1018'">
                            <ion-item *ngFor="let item2 of item.value;let j=index;">
                                <ion-label> {{ item2.UnsDetName }} </ion-label>

                                <ion-checkbox mode="ios" *ngIf="opsi == '1'" disabled="true" color="primary" disabled="true" [(ngModel)]="unsafeDetailC[item2.UnsDetail]" color="primary" value="{{ item2.UnsDetail }}"></ion-checkbox>

                                <ion-checkbox mode="ios" id="{{ item2.UnsDetail }}" *ngIf="opsi != '1'" [(ngModel)]="unsafeDetailC[item2.UnsDetail]" color="primary" value="{{ item2.UnsDetail }}"></ion-checkbox>

                            </ion-item>
                        </div>

                    </ion-col>
                </ion-row>


            </ion-grid>

        </ion-list>

    </ion-card>
    <ion-card>
        <ion-item>
            <ion-label position="floating">Informasi Kepada PIC</ion-label>
            <ion-textarea rows="3" readonly color="success" placeholder="Isi Informasi" #input [(ngModel)]="param.PICInformasi"></ion-textarea>
        </ion-item>


        <ion-item>
            <ion-label>Batas Akhir Tindak Lanjut</ion-label>
            <ion-datetime readonly displayFormat="MM DD YY" #input [(ngModel)]="param.BypassDate" placeholder="Batas Akhir Tindak Lanjur"></ion-datetime>
        </ion-item>

        <ion-card *ngIf="param.AksiComment != '' && param.AksiComment != null && param.AksiComment != undefined">
            <ion-item>
                <ion-label position="floating"> Reason Reject Pengelola</ion-label>
                <ion-textarea rows="4" readonly placeholder="" #input [(ngModel)]="param.AksiComment"></ion-textarea>
            </ion-item>
        </ion-card>

    </ion-card>

    <ion-card>


        <ion-item>
            <ion-label position="floating">Progress Tindak Lanjut</ion-label>
            <ion-textarea rows="4" color="primary" placeholder="Isi Progress" #input [(ngModel)]="param.Aksi"></ion-textarea>
        </ion-item>


        <ion-item>

            <ion-button fill="outline" fill="clear" expand="full" color="primary" (click)="selectImage()">
                <ion-icon slot="start" name="camera"></ion-icon>
                Foto Tindak Lanjut
            </ion-button>
            <ion-button fill="outline" fill="clear" expand="full" color="primary" (click)=" ref.detectChanges()">
                <ion-icon slot="end" name="refresh"></ion-icon>
                Refresh Foto
            </ion-button>
        </ion-item>

        <ion-list>
            <ion-item *ngFor="let img of images; index as pos" text-wrap>
                <ion-thumbnail slot="start">
                    <ion-img [src]="img.path"></ion-img>
                </ion-thumbnail>
                <ion-label>
                    {{ img.name }}
                </ion-label>
                <ion-button fill="outline" slot="end" fill="clear" (click)="deleteImage(img, pos)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>

    </ion-card>


    <ion-card>
        <ion-item>


        </ion-item>




    </ion-card>


</ion-content>

<ion-toolbar>
    <ion-buttons collapse="true">
        <ion-button fill="outline" slot="start" (click)="cancel()" color="danger">
            <ion-icon name="arrow-round-back"></ion-icon>

        </ion-button>
        <ion-button fill="outline" slot="end" (click)="simpan(300)" color="primary">
            <ion-icon name="paper-plane"></ion-icon>
            SUBMIT
        </ion-button>
    </ion-buttons>


</ion-toolbar>